.background{
    background-color: rgb(50, 119, 131);
}
.drop{
    margin-left: 10px;
    list-style: none;
}
.mybtn:hover{
 border: none;
}
a:hover{
    font-weight: bold;
 
}
button:hover{
    font-size: large;
   
}
.text-color{
    color: rgb(19, 78, 88);
}